@import url("../node_modules/font-awesome/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

:root {
  --dark-gray: #333;
  --darker-gray: #1d1d1d;
  --md-gray: #b1b1b1;
  --light-gray: #f4f4f4;
  --primary-color: #15a72e;
  --swiss-red: #da291c;
  --dark-red: #860a00;
}

/* global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

body {
  font-size: 1em;
  font-weight: 400;
  color: var(--light-gray);
  background: var(--dark-gray);
  font-family: "Poppins", sans-serif;
}

section {
  padding: 1em 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-gray);
}

::selection {
  color: black;
  background: var(--swiss-red);
}

/* specific sections */
section.search {
  min-height: 400px;
}

.container__results div {
  margin: 1em auto;
  max-width: 300px;
  background: rgba(0, 0, 0, 0.178);
  border: 1px solid rgba(26, 26, 26, 0.616);

  display: flex;
  align-items: center;
  flex-direction: column;
}

.container__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__form input[type="text"] {
  height: 30px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.container__form button {
  width: 100%;
  height: 30px;
  margin-left: 10px;
  border-radius: 5px;
  background: var(--primary-color);
}

.container__form input[type="text"]::placeholder {
  padding-left: 1em;
}

.container__form--child {
  position: relative;
  display: grid;
  grid-template-columns: 350px 36px;
  grid-template-areas:
    "search btn"
    "res .";
}

.search__bar {
  grid-area: search;
}

.search__btn {
  display: flex;
  grid-area: btn;
  justify-content: flex-start;
}

.search__autocomplete {
  grid-area: res;
  animation-name: slideIn;
  animation-duration: 3s;
  position: absolute;
  width: 350px;
}

input.search__bar--input {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 1em;
  letter-spacing: 0.06em;
}

.search__autocomplete ul {
  margin: 0;
  padding: 0;
  text-align: justify;

  background: white;
  color: var(--dark-gray);
}

.search__autocomplete li:hover {
  cursor: pointer;
  background: var(--primary-color);
}

/* helpers */
.primary-color {
  color: var(--primary-color);
}

.container {
  max-width: 600px;
  margin: auto;
}

.centered {
  text-align: center;
}

.btn {
  margin: 0;
  min-width: 120px;
  margin-right: 1em;
  padding: 0.5em 1em;
  border-radius: 50px;
  color: var(--dark-gray);
  background: var(--primary-color);

  transition: all 0.3s linear;
}

.btn:hover {
  transform: translateY(2px);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.hidden {
  display: none;
}

.flag {
  margin-right: 0.5em;
  padding: 0.05em 0.8em;
  background: var(--swiss-red);
}

.flag > i {
  color: var(--light-gray);
}

#help a {
  color: white;
}

/* animations */

/* grid results */
.search__results--container {
  margin: 4em auto;
  max-width: 800px;
}

.table {
  margin: 0 auto;
  width: 100%;
}

th {
  text-align: left;
}

td.table__buttons button {
  margin-top: 1em;
  font-size: 1.5em;
  color: var(--md-gray);
  background: var(--dark--gray);
  border: 1px solid black;
  padding: 0.2em 0.5em;

  transition: all 0.2s linear;
}

td.table__buttons button:disabled {
  color: var(--darker-gray);
  background: none;
  cursor: default;
}

td.table__buttons button:hover:enabled {
  background: var(--darker-gray);
  color: var(--primary-color);
}

.search__results--map {
  /* container */
  display: flex;
  padding: 2em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--light-gray);
  background-color: rgba(0, 0, 0, 0.2);
}

.search__results--map > h3 {
  margin-bottom: 1em;
}

iframe {
  width: 480px;
  height: 300px;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: transformY(10px);
  }

  100% {
    opacity: 1;
  }
}

/* header */
header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1em;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(3, 3, 3, 0.7),
      rgba(3, 3, 3, 0.6)
    ),
    url("./img/station.jpeg");
}

h1 {
  font-weight: 700;
}

h2 {
  font-size: 100%;
  font-weight: 400;
  letter-spacing: 0.2em;
}
