body {
  background: #333;
  color: whitesmoke;
}

.title {
  color: #bada55;
  text-align: center;
}

.apiResults {
  margin: 1em;
  background: rgba(0, 0, 0, 0.178);
  border: 1px solid rgba(26, 26, 26, 0.616);
}
